<!doctype html>
<html>

<head>
    <title> Main Page</title>

<body>
    <h1>
        Spotifydle
    </h1>
    <select name = pickAPlaylist method = "GET" action = "/">
        <option value ="Select one of the following playlists, {{playlists[0]}}" selected> {{playlists[0]}}</option>
        {% for playlists in playlists[1:] %}
            <option value="{{playlists}}">{{playlists}}</option>
        {% endfor %}
    </select>
    <button type ="subtmit Playlist" class="btn btn-default">Go</button>
</body>
</head>

</html>