<!doctype html>
<html>

<head>
    <title> Main Page</title>

<body>
    <h1>Spotifydle</h1>
    <b> Select A Playlist </b> <br>
    <form method = "POST" action = "{{ url_for('select_playlist') }}" class=select_playlist>
        <select name="pickAPlaylist">
        {% for playlists in playlists %}
            <option value="{{playlists}}">{{playlists}}</option>
        {% endfor %}
        </select>
    </form>
    <button onclick="buttonPressed()" type ="subtmit" class="btn btn-default" name="submitButton">Select Playlist</button>
    <script src="webpage.js"></script>
</body>
</head>

</html>