<!doctype html>
<html lang = "en">

<head>
    <title> TEST SPOTIFY PLAYLISTS </title>

<body>
    <h1 id="here">Testing</h1>
    <select name = "playlists" id = "playlists"> </select>
    <button id ="dataButton">Get your Playlists </button>
    <button id = "selectPlaylist" name = "selectPlaylist"> Select Playlist</button>
    <script src = "{{ url_for('static', filename='webpage.js')}}"></script>
    <p> Your playlists </p>
    <ul id = "playlistContainer"></ul>
    <p> Random song from each</p>
    <ul id = "randomSongs"> </ul>
    


</body>
</head>
<!-- https://stackoverflow.com/questions/61190321/calling-invoking-a-javascript-function-from-python-a-flask-function-within-html
https://stackoverflow.com/questions/11178426/how-can-i-pass-data-from-flask-to-javascript-in-a-template -->
</html>