<!doctype html>
<html lang = "en">

<head>
    <title> Spotifydle </title>

<body>


    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>


    <div id = "allCoversButton">
    <img id = "allCovers" src = "/THEEND.jpg" style = "max-width: fit-content; display: none;">
    </div>
    <select name = "playlists" id = "playlists" onchange="PrintOutSelected();"> </select>
    <button id ="getPlaylistsButton">Get your Playlists </button>
    <button id = "getSongs" name = "getSongs"> Get Random Song</button>
    <button id = "playRandom" name = "playRandom">Play a Random Song</button>
    <button id = "createEmbed" name = "createEmbed">Create embed</button>
    
    <!--    I'm encapsulating all the elements that go into the game proper to make it easier to
            hide elements that won't work before the user selects a playlist for the first time.
            Likely will not be organized this way forever.    -->
    <div id = "gameBody" hidden>
        <p> Your playlists </p>
        <ul id = "playlistContainer"></ul>
        <p> Random song from selected playlist</p>
        <ul id = "randomSongs"> </ul>
        <button id = "selectPlaylist" name = "selectPlaylist"> Select this playlist </button>
        <br> 
        <input type = "image" src ="" name ="playlistShown" class = "btTxt" id ="playlistCover" hidden>
        <!--    Why did we encapsulate the user input in a form tag?    -->
        <form>
            <label for="userGuess">Enter your guess here!</label>
            <input type="text" id="userGuess" name="userGuess">
            <input type="button" id="userGuessSubmit" value="Submit" hidden><br>
        </form>
        <p id="guessCountDisplay" hidden></p>
        <div id = "embed-iframe" hidden> 
            <iframe src = "" title = "iframeEmbed"> </iframe>
        </div>
    </div>

    <!--   Script loading tag must be at bottom of the page, otherwise js page won't load correctly!   -->
    <script src = "{{ url_for('static', filename='webpage.js')}}"></script>

</body>
</head>
</html>